.App {
  text-align: center;
}

.head{
  font-size:1.9rem;
  color:blue;

}
form{
  background-color:lightcoral;
  border-radius:5px;
  width:400px;
  height:620px;
  font-size:1.3rem;
}
form label{
  display:inline-block;
  width:120px;
}
form Div{
  padding:10px;
}
.gender{
  width:70px;
}
button{
  padding:5px;
  color:green;
  font-size:17px;
  border-radius:5px;
  width:100px;
  margin:5px;
}
img{
  width:100px;
  height:100px;
}